.square_btn39{
    position: relative;
    padding: 0.35em 0.7em 0.2em;
    background: #739AC5;
    color: #FFF;
    text-decoration: none;
}
.square_btn39:before{
    content: '';
    position: absolute;
    z-index: -2;
    height: 10px;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    top: calc(100% - 2px);
    left: 0;
    background: linear-gradient(-135deg, #668ad8 4px, transparent 0) 0 4px, linear-gradient(135deg, #668ad8 4px, #fff 0) 0 4px;
    background-color: #668ad8;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    transition: .2s;
}
.square_btn39:hover:before {
    background-size: 13px 10px;

}


.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    text-shadow: 0 0 5px white;
    padding: 0.5em 1em;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
}

.square_btn:hover {
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
}


.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    text-shadow: 0 0 5px white;
    padding: 0.5em 1em;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    transition: .4s;
}

.square_btn:hover {
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
}

.square_btn1 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}

.square_btn1:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
}

.square_btn1:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#67c5ff;
}

.square_btn1:hover:before,.square_btn1:hover:after{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

#button{
	text-decoration: none;

}

#b{
  text-decoration: none;

}

#button1{
  text-decoration: none;
}

.img-fluid{
	margin-top: 20px;
}

#c{
	margin-top: 30px;
	max-width: 18rem;
}

#form{
	max-width: 500px;
  	padding: 20px;
  	margin: 50px auto;
  	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
}


.mt-0{
	text-align: center;
	padding: 15px;

}


.text-monospace{
	margin-top: 20px;
}

#site{
	padding: 10px;
	display: block;
	margin-left: 30px;
	text-decoration: none;
}


#footer{
	margin-top: 50px;
	background-color: #e1e7fb;
}

#fo{
	background-color: #e1e7fb;
}

#p{
	text-decoration: none;
}

/* footer */
#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* instagram button class*/
.instagramBtn{
    background: #125688;
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add instagram icon */
}

.instagramBtn:hover{
      color: #125688;
      background: #fff;
}


/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
}
